<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR"><B>Contrat
de cession du logiciel<BR>Contrat de licence utilisateur final
(EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR"><B>Dernière
modification effectuée le : 19.01.2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">entre		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, D - 74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">et
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">		vous
en tant qu'utilisateur</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Objet
	du contrat</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'objet
	du contrat est le logiciel «&nbsp;Dürr Service&nbsp;»
	(«&nbsp;logiciel&nbsp;»).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Le
	logiciel est protégé par le droit de propriété intellectuelle
	(articles 69 a et suivants de la loi allemande en matière de
	propriété intellectuelle).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Le
	logiciel est entretenu par Dürr Dental AG qui assure des mises à
	jour (actualisations) et mises à niveau (perfectionnements et
	élargissements de fonctions) et ajoute de nouvelles spécifications.
	Les clauses du présent contrat s'appliquent également aux mises à
	jour et mises à niveau futures. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Ce
	produit contient des composants de logiciels régis par des licences
	open source telles que GNU/GPL, BSD ou comparables. Ces composants
	sont des logiciels libres et sont diffusés par l'auteur sans
	garantie.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Validité
	du contrat</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'utilisation
du logiciel implique l'acceptation des conditions du présent
contrat. Si vous n'acceptez pas ces conditions, vous n'êtes pas
autorisé à utiliser le logiciel.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Droit
	de reproduction et d'utilisation</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	société Dürr Dental AG accorde à l'utilisateur le droit
	d'utilisation du logiciel pour la durée du présent accord et selon
	les dispositions suivantes. Le logiciel est concédé sous licence
	et non vendu. L'utilisateur n'est autorisé à utiliser ce logiciel
	qu'en conformité avec les dispositions du présent contrat.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'utilisateur
	est autorisé à reproduire le logiciel dans la mesure où cette
	reproduction est nécessaire à l'utilisation du logiciel. Est
	considérée comme faisant partie des reproductions nécessaires
	l'installation du logiciel sur des systèmes d'exploitation
	appartenant à l'utilisateur ou sous son contrôle.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'utilisateur
	n'est pas autorisé à créer des reproductions qui vont au-delà
	des dispositions précédentes, l'édition du code du programme sur
	une imprimante en fait partie.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Usage
	non conforme</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'utilisateur
	n'a pas le droit de publier, louer, proposer en leasing ni prêter
	le logiciel.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'utilisateur
	n'est pas autorisé à transmettre le logiciel ni le présent
	contrat à des tiers.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	retraduction du code du programme cédé dans d'autres formes de
	code (recompilation) ainsi que différentes manières de la
	reconstitution des différentes étapes de fabrication du logiciel
	(rétro-ingénierie) y compris un changement du programme sont
	interdites, si les conditions du § 69 e du droit de la propriété
	intellectuelle ne sont pas remplies. Les notes de droit de propriété
	intellectuelle, les numéros de série, ainsi que toute autre
	caractéristique servant à l'identification du programme ne doivent
	en aucun cas être retirés ou modifiés par l'utilisateur.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Garantie/Support</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Le
	logiciel est entretenu par Dürr Dental AG qui assure des mises à
	jour (actualisations) et mises à niveau (perfectionnements et
	élargissements de fonctions) et ajoute de nouvelles spécifications.
	</SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	société Dürr Dental AG a prévu la mise à disposition volontaire
	d'un support technique pour le logiciel, dans la limite de ses
	capacités.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Le
	logiciel étant seulement concédé sous licence et non vendu, aucun
	droit à garantie ne sera accordé dans ce cadre. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Responsabilité</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Les
	droits de l'utilisateur en matière de dommages-intérêts ou de
	compensation de sommes dépensées en vain s'appliquent par rapport
	à la présente clause, indépendamment de la nature juridique du
	droit. La responsabilité selon la loi relative à la responsabilité
	des fabricants n'en n'est pas affectée.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	société Dürr Dental &nbsp;AG assume une responsabilité sans
	limites pour les dommages portés à la vie, à l'intégralité
	physique ou à la santé.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	société Dürr Dental AG assume une responsabilité sans limites
	pour les dommages dus à un comportement intentionnel ou de
	négligence grossière de la part de la société Dürr Dental AG.
	La société Dürr Dental AG n'assume la responsabilité pour les
	dommages dus à un comportement de négligence légère que si
	celle-ci concerne la violation d'une obligation dont le respect est
	d'une importance particulière pour atteindre l'objet du contrat
	(obligation contractuelle essentielle). Il s'agit d'une obligation
	contractuelle essentielle dès lors que cette obligation rend
	possible l'exécution conforme du contrat et/ou que l'utilisateur
	doit pouvoir se fier de façon régulière au respect de cette
	obligation. En cas de violation d'une obligation contractuelle
	essentielle, la responsabilité de la société Dürr Dental AG se
	limite aux dommages typiquement prévisibles au cours de la mise à
	disposition du logiciel.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	responsabilité pour la perte de données est limitée aux
	interventions de restitution typiques, qui seraient à exécuter
	suite à la réalisation régulière de copies de sauvegarde adaptée
	aux risques.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Sous
	réserve des alinéas 2 et 3, la société Dürr Dental AG décline
	toute responsabilité pour les défauts et dommages dus à une
	manipulation non conforme du logiciel lors de l'installation, des
	mises à jour/mises à niveau et lors de l'utilisation courante.
	Ceci s'applique également aux défauts et dommages dus au fait que
	l'environnement matériel et logiciel utilisé par l'utilisateur ne
	correspondent pas à la configuration minimale définie
	respectivement par la société DÜRR DENTAL AG pour le logiciel. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Les
	alinéas 1 à 5 s'appliquent en conséquence à la responsabilité
	personnelle de salariés, de collaborateurs, de représentants et de
	simples exécutants de Dürr Dental AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Durée
	du contrat</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	durée de validité du contrat est indéterminée.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Le
	droit de l'utilisateur concernant l'utilisation du logiciel expire
	lorsque l'utilisateur enfreint de façon substantielle les
	conditions d'utilisation définies dans le présent contrat, et que
	la société Dürr Dental AG résilie le présent contrat pour des
	motifs importants. Dans ce cas, l'utilisateur est tenu de supprimer
	toutes les copies du logiciel.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Clauses
	finales</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Les
	modifications, compléments et concrétisations des présentes
	conditions contractuelles, ainsi que les confirmations et garanties
	doivent être consignés par écrit. Ceci s'applique également à
	l'annulation de la présente clause imposant la forme écrite.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">L'invalidité
	ou l'irréalisabilité d'une ou de plusieurs clauses du présent
	contrat n'affecte pas la validité des autres clauses du contrat. La
	disposition caduque ou non applicable est remplacée par une
	disposition, qui se rapproche le plus possible de l'intention de
	cette disposition caduque ou non applicable.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">Les
	rapports contractuels avec l'utilisateur sont soumis au droit
	allemand, à l'exclusion du droit commercial des Nations Unies.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="fr-FR">La
	juridiction compétente pour des litiges issus du lien contractuel à
	l'utilisateur est, dans la mesure où l'utilisateur est commerçant,
	au choix de Dürr Dental AG sa juridiction compétente à elle ou
	celle de l'utilisateur.</SPAN></FONT></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>