<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES"><B>Acuerdo
de Licencia de Usuario Final<BR>End User Licensing Agreement
(EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES"><B>Última
modificación: 19/01/2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">entre		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, D-74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">y
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">		usted
en calidad de usuario</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Objeto
	del contrato</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	objeto del contrato es el software «Dürr Service» («software»).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	software está protegido por los derechos de autor (artículos 69 y
	ss. de la ley de propiedad intelectual de Alemania).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Dürr
	Dental AG se ocupará voluntariamente del mantenimiento del software
	mediante updates (actualizaciones) y upgrades (desarrollos y
	ampliación de las funciones) e incorporará nuevas
	especificaciones. Las regulaciones de este contrato regirán también
	en los updates y upgrades realizados. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Este
	producto incluye componentes de software que cuentan con licencias
	de código abierto como GNU/GPL, BSD o similares. Estos componentes
	son software libre y son distribuidos por el autor sin garantía.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Validez
	del contrato</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Al
utilizar el software, usted acepta las disposiciones del presente
contrato. Si no acepta estas disposiciones, no está autorizado a
utilizar el software.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Derecho
	de reproducción y utilización</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	empresa Dürr Dental AG otorga al usuario el derecho de uso del
	software durante la duración de este acuerdo conforme a las
	cláusulas mencionadas a continuación. El software no se vende,
	sino que se concede una licencia para su uso. El usuario puede
	utilizar el software únicamente de la forma expresamente autorizada
	por el presente contrato.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	usuario puede realizar copias del software siempre que dichas copias
	sean necesarias para la utilización del software. Entre las copias
	necesarias se encuentra la instalación del software en sistemas
	operativos propiedad del usuario o que estén bajo su control.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	usuario no tiene derecho a copiar el programa de forma distinta a la
	expresada en las cláusulas mencionadas, lo que incluye la impresión
	del código del programa.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Usos
	no autorizados</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	usuario no está autorizado a publicar, alquilar, hacer leasing o
	prestar el software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	usuario no tiene derecho a ceder el software o el presente contrato
	a terceros.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	transcripción del código del programa entregado a otras formas de
	código (decompilación) e ingeniería inversa de las distintas
	fases de fabricación del software (reverse engineering) y la
	modificación del programa están prohibidas si no se dan las
	condiciones estipuladas en el artículo 69 e de la ley de propiedad
	intelectual de Alemania. El usuario no está autorizado a eliminar
	ni modificar anotaciones sobre los derechos de autor, los números
	de serie ni otras identificaciones del programa.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Garantía
	y asistencia técnica</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Dürr
	Dental AG se ocupará voluntariamente del mantenimiento del software
	mediante updates (actualizaciones) y upgrades (desarrollos y
	ampliación de las funciones) e incorporará nuevas
	especificaciones. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Dürr
	Dental AG ofrecerá voluntariamente asistencia técnica para el
	software de acuerdo con sus propias capacidades.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">No
	existen derechos de garantía legal puesto que no se vende el
	software, sino que solamente se concede la licencia de uso. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Responsabilidad</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Los
	derechos del usuario a reclamar daños y perjuicios o a la
	compensación por gastos en vano se regirán de acuerdo con esta
	cláusula, con independencia de la naturaleza jurídica de la
	reclamación. La responsabilidad, de acuerdo con la ley alemana por
	responsabilidad del producto, no resulta afectada.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	responsabilidad de Dürr Dental AG en caso de daños sobre la vida,
	el cuerpo o la salud es ilimitada.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	responsabilidad de Dürr Dental AG en caso de daños debidos a un
	comportamiento doloso o culposo por su parte es ilimitada. En caso
	de daños derivados de un comportamiento negligente, Dürr Dental AG
	solo será responsable si se ha violado una obligación cuyo
	cumplimiento sea de especial importancia (obligación contractual
	esencial) para la consecución del objeto del contrato. Se
	considerará una obligación contractual esencial aquella destinada
	a la ejecución regular del contrato o aquella en cuyo cumplimiento
	debe confiar siempre el usuario. En caso de violación de una
	obligación contractual esencial, la responsabilidad de Dürr Dental
	AG se limitará a los daños que habitualmente pueden producirse a
	lo largo del tiempo de cesión de un software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	responsabilidad en caso de pérdida de datos estará limitada al
	coste normal necesario para su recuperación en el supuesto de que
	se hayan realizado las correspondientes copias de seguridad
	regulares destinadas a evitar riesgos.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Dürr
	Dental AG no se hará responsable de las averías y los daños
	debidos a un manejo inadecuado del software durante su instalación,
	actualización y uso corriente, sin perjuicio de lo estipulado en
	los apartados 2 y 3. Lo mismo regirá en caso de averías y daños
	debidos al incumplimiento de los requisitos mínimos fijados por
	Dürr Dental AG para el hardware y el software (sistema operativo)
	del usuario. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Los
	apartados 1 a 5 también regirán con respecto a la responsabilidad
	personal de trabajadores, empleados, representantes y asistentes de
	Dürr Dental AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Duración
	del contrato</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	duración del contrato es ilimitada.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	derecho de uso del usuario sobre el software expirará en el momento
	en que el usuario incumpla las condiciones de uso estipuladas en
	este contrato de forma evidente y Dürr Dental AG rescinda este
	contrato por un motivo importante. En este caso el usuario estará
	obligado a destruir todas las copias del software.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Disposiciones
	finales</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">Las
	modificaciones, complementos y particularidades de estas condiciones
	contractuales, así como las promesas y garantías, requieren de la
	forma escrita. Lo mismo se aplica a la anulación de esta cláusula
	relativa a la forma escrita.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	invalidez o imposibilidad de ejecución de una o varias cláusulas
	de este contrato no afectará a la validez del resto del contrato.
	La cláusula invalidada o inviable se sustituirá por otra cláusula
	lo más parecida posible a la cláusula invalidada o inviable.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">La
	relación contractual con el usuario se regirá por las leyes de
	Alemania y no contemplará la Convención de las Naciones Unidas
	sobre los Contratos de Compraventa internacional de mercancía.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">El
	foro competente en caso de litigio derivado de la relación
	contractual con el usuario será, cuando el usuario sea una sociedad
	comercial, el fuero competente de Dürr Dental AG o el del usuario,
	según decida Dürr Dental AG.</SPAN></FONT></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>