<ion-view title='Dürr Service' class="home">
   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

   </ion-nav-buttons>
   <ion-nav-buttons side="right">
      <img src="./img/logo.png"  class="headerimg">
   </ion-nav-buttons>

       <ion-content class="has-header" >

          <div class="list" style="background-color: #ebebeb;">
          <div class="button-bar headmenu" >
  <a class="button button-icon icon headmenubtn" ng-click="scanBarcode()"> <img align="left" class="" src="./img/ico/code-scannen.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" ng-click="openPopover($event)"> <img align="left" class="" src="./img/ico/IconFind.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" menu-close nav-clear href="#/app/browse"> <img align="left" class="" src="./img/ico/home.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" href="#/app/geraete"> <img align="left" class="" src="./img/ico/verlauf.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn"  href="#/app/downloads"> <img align="left" class="" src="./img/ico/IconDownload.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn"  href="#/app/einstellungen"> <img align="left" class="" src="./img/ico/IconIDeviceSettings.png" width="25" style="padding-top:9pt;"/></a>
</div>

            <div class="serviceheader">
             {{ 'CONFIG' | translate }}
             </div>
             <div class="item item-icon-right">
                <img src="./img/ico/vorlage-logo_256_S.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'VERSION' | translate }}
             </div>
             <a class="item item-icon-right" ng-click="showintroagain()">
                <img src="./img/ico/Doku_Manual.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'SHORTMAN' | translate }}
                <i class="icon ion-ios7-arrow-right"></i>

             </a>

<a class="item  item-icon-right" ng-click="modal3.show()">
                <img src="./img/ico/prospekt.png" width="15" style="margin-right:13pt;" ></img>

                {{ 'LANGUAGERESTART' | translate }}
                <i class="icon ion-ios7-arrow-right"></i>

             </a>

             <div class="serviceheader">
                {{ 'LOGGEDIN' | translate }}
             </div>
             <div class="item item-icon-right">
                <img src="./img/ico/IconInformation.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'USER' | translate }}: {{username}}
             </div>
             <div class="item item-icon-right">
                <img src="./img/ico/IconInformation.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'COMPANY' | translate }}: {{usercompany}}
             </div>
             <a class="item item-icon-right" ng-click="logout()">
                <img src="./img/ico/IconClose.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'LOGOUT' | translate }}

             </a>

             <div class="serviceheader">
                {{ 'APPCONTENT' | translate }}
             </div>
             <a class="item  item-icon-right" ng-click="modal3.show()">
                <img src="./img/ico/prospekt.png" width="15" style="margin-right:13pt;" ></img>

                {{ 'BACKUPMANAGEMENT' | translate }}
                <i class="icon ion-ios7-arrow-right"></i>

             </a>
              <!--<label class="item item-input item-select">
                <div class="input-label">
                   Downloads
                </div>
                <select data-ng-options="o2.name for o2 in options2" data-ng-model="selectedOption2" ng-change="updatedoclang('{{selectedOption2.id}}')"></select>

             </label>-->
             <div class="serviceheader">
              </div>

             <a class="item item-icon-right" ng-click="clearhistory()">
                <img src="./img/ico/IconTrash.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'CLEARHISTORY' | translate }}

             </a>
             <div class="serviceheader">
</div>
             <a class="item  item-icon-right" ng-click="questions()">
                <img src="./img/ico/service-anfragen2.png" width="15" style="margin-right:13pt;" ></img>
                {{ 'QUESTIONS' | translate }}
                <i class="icon ion-ios7-arrow-right"></i>

             </a>
             <a class="item item-icon-left item-icon-right" ng-click="modal2.show()">
                <i class="icon ion-ios7-help-outline"></i>
                {{ 'DATAAGREE' | translate }}
                <i class="icon ion-ios7-arrow-right"></i>

             </a>
             <a class="item item-icon-left item-icon-right" ng-click="modal.show()">
                <i class="icon ion-ios7-help-outline"></i>
                EULA
                <i class="icon ion-ios7-arrow-right"></i>

             </a>
             <a class="item item-icon-left item-icon-right" href="#/app/impressum">
                <i class="icon ion-ios7-information-outline"></i>
                Impressum
                <i class="icon ion-ios7-arrow-right"></i>

             </a>
          </div>

      </ion-content>



</ion-view>



