<ion-view title='Dürr Service' class="home">
   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button ng-click="openfilter()" class="button button-icon icon ion-funnel"></button>

   </ion-nav-buttons>
   <ion-nav-buttons side="right">
      <img src="./img/logo.png"  class="headerimg">
   </ion-nav-buttons>
   <ion-content class="has-header">

   <div class="button-bar headmenu" style="margin-top:.1pt;">
  <a class="button button-icon icon headmenubtn" ng-click="scanBarcode()"> <img align="left" class="" src="./img/ico/code-scannen.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" ng-click="openPopover($event)"> <img align="left" class="" src="./img/ico/IconFind.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" menu-close nav-clear href="#/app/browse"> <img align="left" class="" src="./img/ico/home.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn" href="#/app/geraete"> <img align="left" class="" src="./img/ico/verlauf.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn"  href="#/app/downloads"> <img align="left" class="" src="./img/ico/IconDownload.png" width="25" style="padding-top:9pt;"/></a>
  <a class="button button-icon icon headmenubtn"  href="#/app/einstellungen"> <img align="left" class="" src="./img/ico/IconIDeviceSettings.png" width="25" style="padding-top:9pt;"/></a>
</div>
      <ion-list class="list" ng-repeat="article in articles " >
         <a class="item item-avatar item-icon-right" ng-click="opendetails('{{article[0].articleno}}', '{{article[0].salesgroup}}','{{article[0].serial}}')">
            <img src="{{article[0].Bild}}">

            <i class="icon ion-ios7-arrow-right"></i>
            <h2 style="white-space:pre;">{{article[0].Bezeichnung}}</h2>
            <p style="white-space:pre;">{{article[0].date}}</p>
            <p ng-show="article[0].registered" style="color: #00bbef; font-weight: bold;">{{ 'SURGERY' | translate }}: {{article[0].praxis}}</p>
            <p ng-hide="article[0].registered" style="color: #b03911; font-weight: bold;">{{ 'NOTREGISTERED' | translate }}</p>


         </a>
      </ion-list>


   </ion-content>


</ion-view>
