<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>软件许可协议</B></SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B><BR></B></FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>最终用户许可协议
</B></SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>(EULA)<BR></B></FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT COLOR="#000000"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>最后更改日期：</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#000000"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>2015
</B></FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>年
</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#000000"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>1
</B></FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>月
</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#000000"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>19
</B></FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN"><B>日</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">在</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">		</FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, D - 74321 Bietigheim-Bissingen</FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">与
</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">		</FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">		</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">您
</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">终端使用者</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">之间</SPAN></FONT></FONT></SPAN></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">协议对象</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">协议对象是“</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Service”</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">软件
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(“</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">软件“</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">该软件受版权法保护
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">德国版权法第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">69
	a ff </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">项</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">本软件应由
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">主动通过更新和升级方式
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">进一步发展和扩展功能</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">来维护并提供新的规范。本协议的规定也适用于将来的更新和升级。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">该产品包括由开源许可证如
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">GNU/GPL</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">、</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">BSD
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">或类似证件控制的软件组件。这些组件是免费软件，发布者不承担保修义务。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">合同有效性</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">通过使用软件，同意接受本协议的条款。如果您不接受这些条款，将无权使用这些软件。</SPAN></FONT></FONT></SPAN></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">复制和使用的权利</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">允许使用者根据本协议有效期和按照下列规定使用软件。软件仅授权使用不出售。用户仅可使用本协议中明确许可的软件。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">只有使用软件需要复制时，用户才可复制软件。将软件安装到用户所属或用户控制下的操作系统是必要的副本复制。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">操作者不得制作超过上述规定的其他副本，其中也包括在打印机上输出程序代码。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">不允许的使用</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">用户不得发布、租赁或出借该软件。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">用户不得将该软件或协议传输给第三方。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">除非履行德国版权法第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">69
	e </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">项的要求，否则严禁操作者将本程序代码逆向编译成其他代码形式
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">反编译</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">或对软件的不同制作阶段采用任何其他形式的逆向工程，包括任何程序的修改。在任何情况下都不得删除或更改专利和版权声明、序列号以及其他作为产品标识的功能。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">保修
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">/
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">支持</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">本软件应由
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">主动通过更新和升级方式
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">进一步发展和扩展功能</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">来维护并提供新的规范。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">将在能力范围内自愿提供支持服务。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">不存在法律保修索赔，因为该软件仅授权使用不出售。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">责任</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">用户对损害或小额退款的索赔要依据本条款，而不考虑主张索赔的法律性质。根据产品责任法所承担的责任不受影响。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">承担造成死亡、人身伤害或损害健康的无限责任。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">承担由于
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">故意或严重疏忽从而造成损害的无限责任。</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">仅对违反了对达到本协议目标
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">主要责任</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">特别重要的符合性之规定而造成的损坏承担责任。如果它涉及在完全执行协议时需要履行以及操作者通常期望遵守的义务，基本的合同义务总是存在。如未履行合同规定的基本责任，</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">只会对通常在软件超负荷运行中产生的损坏负有限责任。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">数据丢失的责任限于从定期备份
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">根据相关风险</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">中恢复的典型恢复费用。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">在不违背第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">2
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">条和第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">3
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">条的情况下，</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">不承担任何在安装、更新</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">/</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">升级以及操作期间由于不当使用本软件造成缺陷或损坏的责任。这同样也适用于由于操作员当时未按
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">设定的本软件最小系统要求配置硬件和软件环境
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">操作系统</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">造成的任何缺陷和损坏。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">1
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">条至第
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">5
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">条适用于
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">员工、代表、代理商或分包商的个人责任。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">协议有效期</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">本协议应无限期生效。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">如果用户明显违反本协议中所规定的使用条款，用户使用本软件的权利应终止，</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">有充分的理由终止本协议。该情况下，用户必须删除所有软件副本。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">最后条款</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">修订、补充和具体化这些合同条款以及保证和担保，均须以文本形式制定。这同样适用于废止这些要求。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">本协议的一项或多项规定无效或不可行，不应影响本协议其余条款的有效性。应按照最接近无效或不可行规定的目的替换无效或不可行的规定。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">德国法律应只适用于与操作者相关的合同规定，联合国销售公约应排除在适用范围之外。</SPAN></FONT></FONT></SPAN></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">与用户发生的所有隶属于本协议的诉讼程序的司法管辖地点
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">如果操作者是贸易商</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)
	</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">应为
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">所属的管辖地点或操作者的普遍管辖地点
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">(</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">由
	</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dürr
	Dental AG </FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">自行决定</SPAN></FONT></FONT></SPAN></FONT><FONT FACE="隶书, serif"><FONT SIZE=2 STYLE="font-size: 11pt">)</FONT></FONT><FONT FACE="Arial Unicode MS"><SPAN LANG="zh-CN"><FONT FACE="隶书"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="zh-CN">。</SPAN></FONT></FONT></SPAN></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>