<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><B>Contrato
de Licença de Software<BR>End User Licensing Agreement
(EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><B>Alterado
em: 19.01.2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">entre		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, D - 74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">e
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">		o
próprio como usuário</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Objeto
	de contrato</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Objeto
	do contrato é o software &quot;Dürr service&quot; (&quot;software&quot;).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	software está protegido por direitos autorais (§§ 69 a ff UrhG
	(Lei alemã de direitos autorais)).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	software é mantido voluntariamente pela Dürr Dental AG através de
	atualizações (updates) e upgrades (melhorias e aprimoramentos de
	funções) e fornecido com as novas especificações. As regras do
	contrato atual aplicam-se também às futuras atualizações e
	upgrades. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Este
	produto inclui componentes de software, que são regulados por
	licenças de código aberto, como o GNU / GPL, BSD ou similar. Esses
	componentes são softwares livres e distribuídos sem autorização
	do autor.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Eficácia
	do contrato</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Ao
utilizar os softwares, você aceita os termos deste contrato. Se você
não aceitar os termos, não tem direito a usar o software.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Direito
	de reprodução e uso</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	Dürr Dental AG concede ao usuário o direito de utilização do
	software pelo período de vigência deste contrato e de acordo com
	as seguintes disposições. O software será licenciado, não
	vendido. O usuário poderá utilizar o software, expressamente da
	forma permitida neste contrato.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	usuário pode reproduzir o software, na medida em que a respectiva
	reprodução seja necessária para o uso do software. À reprodução
	necessária, conta-se com a instalação do software em sistemas
	operacionais, os quais pertencem ao usuário ou estejam sob seu
	controle.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	usuário não poderá fazer reproduções fora do contexto das
	disposições anteriores, na qual se inclui a impressão do código
	do programa numa impressora.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Uso
	ilegal</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	usuário não poderá publicar, locar, ceder leasing ou emprestar o
	software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	usuário não poderá transferir o software ou o presente contrato a
	terceiros.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">É
	proibida a retroversão do código do programa entregue para outras
	formas de código (recompilação), assim como outros tipos de
	engenharia inversa das várias fases de fabricação do software
	incluindo a alteração do programa, se não se verificarem as
	condições do § 69 e UrhG (Lei alemã de direitos autorais). Não
	é permitida a remoção nem a alteração por parte do usuário de
	avisos de direitos autorais, de números de série ou de outras
	características que se destinam à identificação do programa.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Garantia/suporte</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	software é mantido voluntariamente pela Dürr Dental AG através de
	atualizações (updates) e upgrades (melhorias e aprimoramentos de
	funções) e fornecido com as novas especificações. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	Dürr Dental AG fornecerá voluntariamente, dentro da sua
	capacidade, o serviço de suporte de software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Reclamações
	de garantia legais não existem porque o software é apenas
	licenciado e não vendido. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Responsabilidade</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Os
	direitos do usuário no caso de indenização ou de compensação
	são determinados por esta disposição sem consideração pela
	natureza jurídica do direito. A responsabilidade de acordo com a
	lei de responsabilidade pelos produtos permanece inalterada.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	Dürr Dental AG responsabiliza-se, sem restrições, por danos
	decorrentes de morte, ferimentos ou danos à saúde.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	Dürr Dental AG responsabiliza-se, sem restrições, por danos
	decorrentes de comportamentos de negligência voluntária ou
	grosseira por parte da Dürr Dental AG. A Dürr Dental AG
	responsabiliza-se por danos decorrentes de comportamentos de
	negligência ligeira somente quando uma obrigação tiver sido
	violada, cujo cumprimento seja de especial importância para a
	obtenção da finalidade do contrato (obrigação contratual
	essencial). Esta obrigação contratual essencial existe quando a
	obrigação pretende possibilitar a execução correta do contrato
	ou quando o usuário deve confiar normalmente no cumprimento dessa
	obrigação. No caso do não cumprimento de uma obrigação
	contratual essencial, a responsabilidade da Dürr Dental AG está
	limitada a danos cujo surgimento é de esperar-se no decurso de uma
	concessão de software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	responsabilidade pela perda de dados é limitada à compensação
	econômica prevista nestes casos que ocorreria durante a reprodução
	periódica de cópias de segurança com os perigos associados à
	essa tarefa.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	Dürr Dental AG não assume qualquer responsabilidade por defeitos
	ou danos decorrentes do manuseamento incorreto do software durante a
	instalação, dos updates / upgrades e durante o funcionamento, de
	acordo aos n° 2 e 3. Isto é igualmente válido para defeitos e
	danos decorrentes da utilização de ambientes de hardware e
	software (sistema operacional) pelo usuário que não correspondam
	aos requisitos mínimos definidos pela Dürr Dental AG para o
	respectivo software. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Os
	parágrafos 1 a 5 aplicam-se respectivamente à responsabilidade
	civil de trabalhadores, colaboradores, representantes e assistentes
	da Dürr Dental AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Duração
	do contrato</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	contrato tem duração indeterminada.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	direito do usuário de usar o software será anulado se ele ferir os
	termos e condições estabelecidos neste contrato de maneira
	considerável e a Dürr Dental AG cancelar este contrato para uma
	razão importante. Neste caso, o usuário é obrigado a excluir
	todas as cópias do software.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Disposições
	finais</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">As
	alterações, complementos e concretizações destas disposições
	contratuais e das garantias necessitam de documento em formato de
	texto. Esta exigência se aplica ao levantamento desta cláusula que
	também deve ser especificada em documento em formato de texto.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	nulidade ou a inexequibilidade de uma ou mais disposições deste
	contrato afeta a validade do restante contrato. A cláusula nula ou
	inexequível é substituída por uma disposição que deve ser
	semelhante à pretensão de regulamento da disposição nula ou
	inexequível.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">A
	relação contratual com o usuário rege-se pelo direito alemão,
	com exclusão do direito de compra estipulado pela UE.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	foro competente para litígios decorrentes desta relação
	contratual com o usuário é, desde que o usuário seja comerciante,
	foro da Dürr Dental AG ou o foro do usuário, dependendo da Dürr
	Dental.</SPAN></FONT></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>