<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service</h1>
      <button class="button button-clear button-primary" ng-click="modal2.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">


      <div class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK"><B>Slutbrugerlicensaftale<BR>End
User Licensing Agreement (EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK"><B>Sidst
ændret den: 19.01.2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">mellem		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, D - 74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">og
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">		dig
som bruger</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Aftalens
	genstand</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Aftalens
	genstand er softwaren &quot;Dürr Service&quot; (&quot;software&quot;).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Softwaren
	er ophavsretligt beskyttet (§§ 69 a ff UrhG).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Softwaren
	vedligeholdes frivilligt af Dürr Dental AG ved hjælp af
	opdateringer og opgraderinger (videreudviklinger og
	funktionsudvidelser) og forsynes med nye specifikationer.
	Bestemmelserne i denne aftale gælder også for fremtidige
	opdateringer og opgraderinger. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dette
	produkt indeholder softwarekomponenter, der reguleres via
	kildekodeåbne licenser som GNU/GPL, BSD o.l. Disse komponenter er
	gratis software og distribueres af forfatteren uden garanti.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Aftalens
	gyldighed</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Med
anvendelsen af softwaren accepterer du bestemmelserne i denne aftale.
Hvis du ikke accepterer bestemmelserne, er du ikke berettiget til at
anvende softwaren.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Ret
	til kopiering og anvendelse</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dürr
	Dental AG tilstår brugeren brugsretten til softwaren i aftalens
	løbetid, forudsat nedenstående bestemmelser overholdes. Softwaren
	sælges ikke med licens. Brugeren må kun anvende softwaren, som det
	udtrykkeligt er tilladt i denne aftale.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugeren
	må kopiere softwaren i det omfang, den pågældende kopiering er
	nødvendig for anvendelsen af softwaren. Med til nødvendige kopier
	hører installation af softwaren under operativsystemer, der
	tilhører brugeren eller er under brugerens kontrol.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugeren
	må ikke fremstille kopier, der ligger ud over ovenstående
	bestemmelser, herunder udlæsning af programkoden på en printer.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Ikke-tilladt
	anvendelse</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugeren
	må ikke offentliggøre, udleje, udlease eller udlåne softwaren.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugeren
	må ikke overgive softwaren eller denne aftale til tredjepart.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">En
	tilbageoversættelse af den overdragede programkode til andre
	kodeformer (rekompilering) samt øvrige former for omvendt
	konstruktion af softwarens forskellige fremstillingstrin
	(reverse-engineering) inklusive en programændring er ikke tilladt,
	hvis forudsætningerne i § 69 e i den tyske lov om ophavsret ikke
	foreligger. Brugeren må under ingen omstændigheder fjerne eller
	ændre ophavsretspåtegninger, serienumre og lignende, der kan
	bruges til programidentifikation.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Garanti/support</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Softwaren
	vedligeholdes frivilligt af Dürr Dental AG ved hjælp af
	opdateringer og opgraderinger (videreudviklinger og
	funktionsudvidelser) og forsynes med nye specifikationer. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dürr
	Dental AG stiller inden for deres kapacitetsrammer frivilligt
	supportservice til rådighed for softwaren.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Der
	kan ikke fremsættes erstatningskrav iht. loven, fordi softwaren er
	med licens, men ikke solgt. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Ansvar</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugerens
	krav på skadeserstatning eller erstatning for forgæves udgifter
	retter sig efter denne bestemmelse uden hensyntagen til kravets
	retlige natur. Ansvar i forhold til produktansvarsloven berøres
	ikke.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dürr
	Dental AG hæfter ubegrænset for skader på liv, krop og helbred.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dürr
	Dental AG hæfter ubegrænset for skader, der er opstået på grund
	af forsætlige eller groft uagtsomme handlinger fra Dürr Dental
	AG's side. For skader, der opstår på grund af simpelt uagtsomme
	handlinger, hæfter Dürr Dental AG kun, såfremt Dürr Dental AG
	har overtrådt en pligt, hvis overholdelse er af særlig betydning
	for at kunne opfylde aftalens formål (aftalevæsentlig pligt). En
	sådan aftalevæsentlig pligt foreligger altid, hvis pligten er en
	forudsætning for, at aftalen overholdes korrekt, eller at brugeren
	jævnligt er nødt til at stole på, at denne pligt overholdes. Hvis
	en aftalevæsentlig pligt tilsidesættes, er Dürr Dental AG's
	ansvar begrænset til skader, man typisk må påregne i forbindelse
	med softwareovergivelse.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Ansvaret
	for tab af data er begrænset til de typiske
	reetableringsomkostninger, der ville indtræffe ved regelmæssig
	udarbejdelse af sikkerhedskopier i overensstemmelse med
	fareniveauet.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Dürr
	Dental AG hæfter med forbehold af stk. 2 og 3 ikke for mangler og
	skader, der skyldes ukorrekt håndtering af softwaren i forbindelse
	med installation, opdatering og opgradering samt daglig drift. Dette
	gælder også for mangler og skader, der skyldes, at de hardware- og
	softwareomgivelser, brugeren anvender (operativsystemet), ikke
	opfylder de minimumkrav, der er fastsat af Dürr Dental AG for
	softwaren. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Stk.
	1 til 5 gælder tilsvarende for det personlige ansvar for
	arbejdstagere, medarbejdere, repræsentanter og medhjælpere hos
	Dürr Dental AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Aftalens
	varighed</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Aftalen
	løber på ubestemt tid.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Brugerens
	ret til at anvende softwaren bortfalder, hvis brugeren i væsentlig
	grad overtræder de anvendelsesbetingelser, som er fastlagt i denne
	aftale, eller hvis Dürr Dental AG opsiger denne aftale af en vigtig
	årsag. I dette tilfælde har brugeren pligt til at slette alle
	kopier af softwaren.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Afsluttende
	bestemmelser</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Konkretiseringer
	samt ændringer og tillæg til disse aftalebetingelser samt
	garantier skal foreligge i skriftlig form. Det samme gælder for
	ophævelsen af denne klausul om skriftlig affattelse.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">At
	en eller flere bestemmelser i denne aftale ophæves eller ikke kan
	udføres, berører ikke gyldigheden af resten af aftalen i øvrigt.
	I stedet for den ugyldige eller uigennemførlige klausul indtræder
	en bestemmelse, der indholdsmæssigt kommer så tæt på den
	ugyldige eller uigennemførlige bestemmelse som muligt.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Tysk
	ret er gældende for aftaleforholdet til brugeren, med undtagelse af
	FN's købelov.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="da-DK">Værneting
	for uoverensstemmelser vedrørende aftaleforholdet til brugeren er –
	såfremt brugeren er købmand – efter Dürr Dental AG's ønske
	værnetinget for Dürr Dental AG eller værnetinget for brugeren.</SPAN></FONT></FONT></P>
</OL>
</div>


   </ion-content>
</ion-modal-view>