<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT"><B>Contratto
di cessione del software - <BR>End User Licensing Agreement
(EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT"><B>Ultima
modifica: 19.01.2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">tra		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">		DÜRR
DENTAL AG <BR>Höpfigheimer Str. 17, D - 74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">e
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">		Lei
in qualità di utilizzatore</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Oggetto
	del contratto</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'oggetto
	del contratto è il software &quot;Dürr Service“ (“software“).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	software è protetto da copyright (§§ 69a e segg. della legge
	tedesca sul Copyright UrhG).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	software viene curato da Dürr Dental AG tramite update
	(aggiornamenti) e upgrade (perfezionamenti e ampliamenti di
	funzioni) e corredato di nuove specifiche. Le clausole del presente
	contratto valgono anche per update e upgrade futuri. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Questo
	prodotto contiene componenti del software regolati da licenze open
	source come GNU/GPL, BSD o simili. Questi componenti sono software
	liberi e vengono distribuiti dall'autore senza garanzia.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Validità
	del contratto</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'utilizzo
del software implica l'accettazione delle disposizioni del presente
contratto. Nel caso in cui non accettiate queste disposizioni, non
siete autorizzati a utilizzare il software.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Diritto
	di duplicazione e utilizzo</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">La
	società DÜRR DENTAL AG fornisce all'utilizzatore il diritto
	all'utilizzo del software, per la durata del presente accordo e in
	conformità alle disposizioni seguenti. Il software viene fornito in
	licenza, non venduto. L'utente può utilizzare il software solo come
	espressamente consentito nel presente contratto.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'utilizzatore
	può duplicare il software, nella misura in cui la rispettiva
	duplicazione si riveli necessaria per l'utilizzo del software
	stesso. Tra le duplicazioni necessarie rientrano l'installazione del
	software sui sistemi operativi appartenenti all'utente o sotto il
	suo controllo.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'utilizzatore
	non è autorizzato a creare duplicazioni che vadano aldilà delle
	disposizioni di cui sopra, tra cui l'emissione del codice di
	programma su una stampante.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Utilizzo
	non autorizzato</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'utilizzatore
	non può pubblicare, noleggiare, dare in leasing, né prestare il
	software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'utente
	non può trasferire il software, né il presente contratto a terzi.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">La
	ritraduzione in altre forme di codice (ricompilazione) del codice di
	programma ceduto, nonché ulteriori tipi di reingegnerizzazione dei
	vari stadi di fabbricazione del software (reverse-engineering),
	inclusa una modifica del programma, non è ammessa, in assenza dei
	presupposti del § 69e della legge tedesca sul Copyright UrhG. Note
	dell'autore, matricole o altre caratteristiche che servano
	all'identificazione del programma non possono in nessun caso essere
	rimosse, né modificate dall'utilizzatore.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Garanzia/Assistenza</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	software viene curato da Dürr Dental AG tramite update
	(aggiornamenti) e upgrade (perfezionamenti e ampliamenti delle
	funzioni) e dotato di nuove specifiche. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Nell'ambito
	delle proprie capacità, Dürr Dental AG metterà a disposizione il
	proprio servizio di assistenza software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Non
	sussistono diritti di garanzia giuridici, dal momento che il
	software viene solo fornito in licenza e non venduto. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Responsbailità</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Le
	richieste da parte dell'utente di compensazione o indennizzo di
	spese vane devono essere in linea con questa disposizione,
	prescindendo dalla natura giuridica della richiesta risarcitoria. La
	responsabilità, secondo la legge sulla responsabilità per danno da
	prodotti, resta impregiudicata.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Per
	danni alla vita, all'integrità fisica o alla salute, la società
	Dürr Dental AG si assume una responsabilità senza limiti.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Per
	danni derivanti da un comportamento intenzionale o di grave
	negligenza da parte di DÜRR DENTAL AG, la società Dürr Dental AG
	si assume una responsabilità senza limiti. Per danni in seguito a
	comportamento di lieve negligenza, Dürr Dental AG risponde
	esclusivamente laddove viene contravvenuto a un obbligo, la cui
	osservanza riveste particolare importanza ai fini del raggiungimento
	dello scopo contrattuale (obbligo cardinale). Si tratta di obbligo
	cardinale quando il suo adempimento rende possibile l'esecuzione
	regolare del contratto e/o sulla cui osservanza l'utilizzatore può
	fare regolarmente affidamento. In caso di violazione di un obbligo
	cardinale, la responsabilità di Dürr Dental AG si limita ai danni
	tipicamente prevedibili nell'ambito di una cessione del software.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">La
	responsabilità per la perdita dei dati è limitata alle spese
	tipiche di ripristino, che sarebbero incorse in caso di regolare
	realizzazione di copie di backup in accordo ai rischi applicabili.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">DÜRR
	DENTAL AG non si assume alcuna responsabilità per difetti e
	danneggiamenti che derivino da una manipolazione impropria del
	software in fase di installazione, update/upgrade e durante
	l'utilizzo corrente. Lo stesso vale per difetti e danneggiamenti da
	ricondursi alla mancata corrispondenza dell'ambiente hardware e
	software (sistema operativo) utilizzati dall'utente ai requisiti
	minimi stabiliti da Dürr Dental AG per il software. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">I
	paragrafi da 1 a 5 valgono conformemente alla responsabilità
	personale di dipendenti, collaboratori, rappresentanti e semplici
	esecutori di DÜRR DENTAL AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Durata
	del contratto</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	contratto ha validità indeterminata.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	diritto dell'utente a utilizzare il software decade nel momento in
	cui egli vìola in forma considerevole le clausole di utilizzo
	stipulate nel presente contratto e in cui DÜRR DENTAL AG rescinde
	il contratto per motivi importanti. In questo caso l'utilizzatore è
	tenuto a cancellare tutte le copie del software.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Disposizioni
	finali</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Modifiche,
	integrazioni e perfezionamenti delle presenti clausole contrattuali,
	così come le garanzie, richiedono la forma scritta. Lo stesso vale
	per l'abolizione di questa clausola che impone la forma scritta.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">L'invalidità
	o l'inapplicabilità di una o più clausole del presente contratto
	non pregiudica l'efficacia delle restanti clausole contrattuali. Al
	posto della clausola inefficace o irrealizzabile, entra in vigore
	una disposizione che si avvicina maggiormente alle finalità
	regolamentari della disposizione inefficace o irrealizzabile.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Per
	il rapporto contrattuale con l'utilizzatore valgono le leggi
	tedesche, ad esclusione della convenzione delle Nazioni Unite.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="it-IT">Il
	foro competente per controversie derivanti dal rapporto contrattuale
	con l'utilizzatore – nella misura in cui l'utilizzatore sia un
	commerciante – è, a scelta di Dürr Dental AG, il foro competente
	di Dürr Dental AG o il foro competente dell'utilizzatore.</SPAN></FONT></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>