<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service </h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">
      <div  class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU"><B>Лицензионное
соглашение с конечным пользователем
программного обеспечения<BR>End User Licensing
Agreement (EULA)<BR></B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU"><B>Дата
последнего изменения: 19.01.2015</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">между		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">		DÜRR
DENTAL AG<BR>		Höpfigheimer Str. 17, О - 74321 Bietigheim-Bissingen</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">и
		</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">		Вами
в качестве Пользователя</SPAN></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Предмет
	договора</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Предметом
	договора является программное обеспечение
	„Dürr Service“ (“Программное обеспечение“).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Программное
	обеспечение защищено авторским правом
	(§§ 69 и далее Закона об авторском праве).</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фирма
	Dürr Dental AG добровольно обслуживает
	Программное обеспечение путем
	актуализации (Updates) и дальнейшего
	развития и расширения функций (Upgrades) и
	добавляет новые спецификации. Положения
	данного Договора действуют, в том числе
	и для дальнейших Updates и Upgrades. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Данный
	продукт содержит компоненты программного
	обеспечения с открытыми лицензиями,
	такими как GNU/GPL, BSD или аналогичными.
	Эти компоненты являются бесплатным
	программным обеспечением и распространяются
	их создателями без гарантии.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Действие
	договора</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фактом
использования программного обеспечения
вы соглашаетесь с условиями настоящего
договора. При несогласии с условиями
настоящего договора, вы не имеете права
пользоваться программным обеспечением.</SPAN></FONT></FONT></P>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><BR><BR>
</P>
<OL START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Право
	на копирование и использование</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фирма
	Dürr Dental AG предоставляет Пользователю
	право пользования законно приобретенным
	Программным обеспечением на срок
	данного соглашения и в соответствии
	со следующими положениями. Программное
	обеспечение передается в пользование
	по лицензии, а не продается. Пользователь
	имеет право использовать программное
	обеспечение только так, как это явно
	разрешено в настоящем договоре.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Пользователю
	разрешается копировать программное
	обеспечение, если такое копирование
	необходимо для пользования программным
	обеспечением. К необходимому копированию
	относится установка программного
	обеспечения на операционных системах,
	которые принадлежат или подконтрольны
	пользователю.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Пользователю
	запрещается изготавливать выходящие
	за рамки вышестоящих положений копии,
	к которым в том числе относится вывод
	программного кода на принтер.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%; page-break-after: avoid">
<BR><BR>
</P>
<OL START=4>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Недопустимое
	использование</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Пользователю
	запрещено публиковать, сдавать в аренду,
	передавать в лизинг или одалживать
	программное обеспечение.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Пользователю
	запрещено передавать программное
	обеспечение или права по этому договору
	третьим лицам.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Не
	допускается обратный перевод переданного
	программного кода в иные кодовые формы
	(рекомпиляция), а также иные виды
	декодирования различных производительных
	этапов Программного обеспечения
	(обратный инжиниринг), включая изменение
	программы, если не имеет место наличие
	предпосылок в соответствии с § 69 e Закона
	об авторском праве. Пользователю
	запрещается удалять или изменять
	авторские пометки, серийные номера или
	иные, служащие для идентификации
	программы, признаки.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=5>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Гарантия/техническая
	поддержка</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фирма
	Dürr Dental AG добровольно обслуживает
	Программное обеспечение путем
	актуализации (Updates) и дальнейшего
	развития и расширения функций (Upgrades) и
	добавляет новые спецификации. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Dürr
	Dental AG добровольно оказывает в рамках
	своих возможностей техническую поддержку
	программного обеспечения.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Установленная
	законом гарантия на программное
	обеспечение не распространяется, потому
	что программное обеспечение не продается,
	а передается в пользование по лицензии.
	</SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><BR><BR>
</P>
<OL START=6>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Ответственность</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Иски
	Пользователя на возмещение ущерба или
	возмещение напрасных расходов
	регулируются вне зависимости от правовой
	природы иска в соответствии с данным
	положением. Ответственность согласно
	Закону об ответственности за продукцию
	остается незатронутой.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фирма
	Dürr Dental AG безоговорочно несет
	ответственность за ущерб, связанный с
	посягательством на жизнь или здоровье.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Фирма
	Dürr Dental AG безоговорочно несет
	ответственность за ущерб, связанный с
	умышленным или преступно-халатным
	действием со стороны фирмы Dürr Dental AG.
	За ущерб, возникший в результате
	неосторожного действия, фирма Dürr Dental
	AG несет ответственность только в том
	случае, если нарушено обязательство,
	соблюдение которого имеет особое
	значение для достижения целей Договора
	(существенное для договора обязательство).
	Такое существенное для договора
	обязательство всегда имеет место, когда
	обязательство должно обеспечить саму
	возможность надлежащего исполнения
	Договора или когда Пользователь может
	всегда доверять тому, что данное
	обязательство соблюдается. При нарушении
	существенного для договора обязательства
	ответственность фирмы Dürr Dental AG
	ограничивается ответственностью за
	ущерб, на возникновение которого, как
	правило, нужно рассчитывать при передаче
	программного обеспечения.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Ответственность
	за потерю данных ограничивается
	типичными затратами на восстановление,
	которые возникли бы при регулярном и
	соответствующем рискам изготовлении
	резервных копий.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">За
	дефекты и ущерб, последовавшие вследствие
	ненадлежащего обращения с Программным
	обеспечением при установке,
	обновлении/улучшении и текущей
	эксплуатации фирма Dürr Dental AG в соответствии
	с абзацами 2 и 3 ответственности не
	несет. В той же мере это относится к
	дефектам и ущербу, последовавшими
	вследствие того, что использованное
	Пользователем аппаратное и программное
	обеспечение (операционная система) не
	соответствует минимальным требованиям,
	установленным фирмой Dürr Dental AG для
	Программного обеспечения. </SPAN></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Абзацы
	с 1 по 5 соответственно действуют в
	отношении личной ответственности
	работников, сотрудников, представителей
	и подручных фирмы Dürr Dental AG. </SPAN></FONT></FONT>
	</P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=7>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Срок
	действия договора</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Договор
	действует в течение неограниченного
	срока.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Право
	пользователя на использование
	программного обеспечения теряет силу,
	если пользователь грубо нарушает
	закрепленные в настоящем договоре
	условия использования и Dürr Dental AG
	разрывает настоящий договор по веской
	причине. В таком случае пользователь
	обязан стереть у себя все копии
	программного обеспечения.</SPAN></FONT></FONT></P>
</OL>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL START=8>
	<LI><P STYLE="line-height: 100%; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Заключительные
	условия</SPAN></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Изменения,
	дополнения и уточнения условий данного
	Договора, а также договорные обязанности
	и гарантии должны производиться в
	письменной форме. Это же правило
	действует для отмены данной оговорки
	о необходимости письменной формы.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Недействительность
	или невозможность исполнения одного
	или нескольких положений данного
	Договора не оказывают влияния на
	действие остальных положений Договора.
	Вместо недействительного или неисполнимого
	положения действует положение, которое
	наиболее близко соответствует цели
	недействительного или неисполнимого
	положения</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Договорные
	отношения с Пользователем регулируются
	законами Федеративной Республики
	Германии за исключением Конвенции ООН
	о договорах международной купли-продажи
	товаров.</SPAN></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="ru-RU">Местом
	судебного исполнения споров из договорных
	отношений с Пользователем - если
	Пользователь является коммерсантом -
	является по выбору фирмы Dürr Dental AG место
	судебного исполнения фирмы Dürr Dental AG
	или место судебного исполнения
	Пользователя.</SPAN></FONT></FONT></P>
</OL>
</div>

   </ion-content>
</ion-modal-view>