<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Dürr Service</h1>
      <button class="button button-clear button-primary" ng-click="modal2.hide()">OK</button>

   </ion-header-bar>
   <ion-content style="padding: 10pt; padding-left:30pt;">


      <div class=WordSection1>
<P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><B>Declaração
de privacidade para software &quot;Dürr Service App&quot;</B></SPAN></FONT></FONT></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><B>Alterado
em: 19.01.2015</B></SPAN></FONT></FONT></FONT></FONT></FONT></P>
<P STYLE="line-height: 100%"><BR><BR>
</P>
<OL>
	<LI><P STYLE="margin-top: 0.21cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Informações
	sobre a coleta de informações pessoais e identificação do
	provedor</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">A
	seguir, informaremos sobre a coleta de dados pessoais durante a
	utilização deste software.</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">&nbsp;</SPAN></SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Dados
	pessoais são todos aqueles que se referem pessoalmente a você,
	tais como o nome, endereço, endereços de email e comportamento do
	usuário.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">O
	prestador de serviço de acordo com </SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">§&nbsp;</SPAN></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">13</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">,
	da&nbsp;</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Lei
	das Telecomunicações (TMG</SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">)</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">
	e entidade responsável segundo o</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">§&nbsp;</SPAN></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">3</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">n°
	</SPAN></FONT></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">7</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">
	da Lei Alemã de Proteção de Dados (com sigla BDSG</SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">)</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">&nbsp;</SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">é
	a</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 2cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">DÜRR
DENTAL AG<BR>Höpfigheimer Strasse 17<BR>74321
Bietigheim-Bissingen<BR>Sitz Bietigheim-Bissingen	<BR>Registro
Comercial do Tribunal Regional de Stuttgart HRB 727006<BR>Conselho
Administrativo: Martin Dürrstein (Presidente), Axel
Schramm<BR>Presidente do Conselho: Joachim Loh</SPAN></FONT></FONT></FONT></FONT></FONT></P>
<OL START=2>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Direitos
	de acesso e revogação</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Você
	tem o direito de solicitar informações a qualquer momento sobre os
	dados armazenados por nós, assim como a sua origem, os
	destinatários ou categorias dos destinatários a que esses dados
	serão divulgados, assim como a finalidade do seu armazenamento.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Se
	você tiver dado consentimento para a utilização de dados, este
	pode ser cancelado a qualquer momento.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Todos
	os pedidos de informação, dívidas ou discrepâncias com o
	processamento de dados devem ser enviados por e-mail para
	info@duerr.de ou para o endereço indicado no</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">&nbsp;</SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">§&nbsp;1,
	n° &nbsp;(2) </SPAN></SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL START=3>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Segurança
	de dados</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Mantemos
medidas técnicas atuais, a fim de garantir a segurança de dados, em
particular, para a proteção de seus dados pessoais contra o perigo
durante transferências de dados, bem como a aquisição de
conhecimento por terceiros.</SPAN></SPAN></FONT></FONT></FONT></EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">
</SPAN></SPAN></FONT></FONT></FONT><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Estas
serão adaptadas em conformidade à condição atual técnica.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL START=4>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Coleta
	de dados pessoais </SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT>
	</P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Ao
	baixar o software, as informações necessárias serão transmitidas
	à loja de software, em especial o nome de usuário, número de
	cliente e endereço de e-mail da sua conta, o tempo do download,
	informações de pagamento e o código individual do equipamento. No
	entanto, não temos influência sobre esta coleta de dados e não
	somos responsáveis por isso. Nós processamos os dados fornecidos
	na medida em que for necessário para fazer o download do software.
	Além deste propósito, eles não são mais armazenados.</SPAN></FONT></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Ao
	usar o software, com a exceção dos dados a seguir para permitir a
	funcionalidade do software, não recolhemos dados pessoais. </SPAN></FONT></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Ao
	acessar o conteúdo do software, isto e mais informações (data,
	hora e páginas visitadas) ficam armazenados no nosso servidor para
	a segurança dos dados e fins estatísticos. O armazenamento e
	análise são feitos de forma anônima.</SPAN></FONT></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">O
	software armazena e não utiliza cookies.</SPAN></FONT></FONT></FONT></P>
</OL>
<OL START=5>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Cadastro</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">As
	funções básicas do software podem ser usadas sem registro.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">O
	registro é necessário para o uso de todas as funções. Isso pode
	ser feito através do software. Você terá os dados do usuário, se
	você for um revendedor da Dürr Dental AG. Os dados do usuário
	(nome de usuário e senha) serão criptografados em todo acesso ao
	software, enviados até nós e, opcionalmente, armazenados no
	software.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL START=6>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Permissões
	de App</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">O
software usa tais permissões de app para os seguintes fins:</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL TYPE=a>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Memória
	(mudar ou deletar conteúdo de memória USB)</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Será
necessário transmitir dados, como imagens, vídeos ou documentos
para memória interna quando os equipamentos tiverem memória interna
limitada. O software só acessa o diretório de cache que você
criou. Outros dados da memória USB não serão nem lidos, nem
manipulados.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL TYPE=a START=2>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Câmera
	e flash</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">necessários
para tirar fotos.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL TYPE=a START=3>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Exibir
	status completo do acesso e rede de internet</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 1.27cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Necessário
para acessar arquivos armazenados na Internet, tais como vídeos,
documentos, manuais de reparação e para verificar seus dados de
usuário</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL START=7>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Registro
	do produto</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Você
	pode se cadastrar através do software dos equipamentos da Dürr
	Dental AG.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Se
	você não é o proprietário ou o beneficiário efetivo do
	equipamento, um registro pode ser feito se você tiver o
	consentimento expresso do proprietário ou beneficiário efetivo. </SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT>
	</P>
	<LI><P STYLE="line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Serão
	armazenados durante o registro do produto, o nome e o endereço do
	proprietário ou do beneficiário efetivo, o nome e o local de
	estabelecimento do depósito dental, número do modelo, número de
	série e o nome do modelo do equipamento a ser registrado, data de
	instalação, o nome do consultor MPG e a data da autorização de
	produto.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<OL START=8>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Contato
	com o serviço da Dürr Dental AG</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">O
software permite que você entre em contato direto com os serviços
da Dürr Dental AG. Os dados do usuário em conformidade com o § 5,
nº (2), assim como as informações e dados de a solicitação de
contato enviados a serão armazenados.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL START=9>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Divulgação
	a terceiros</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Usamos
suas informações pessoais apenas dentro da empresa e repassamos
apenas para as empresas que estão envolvidas na execução dos
contratos celebrados ou então prestação de serviços. Caso
contrário, suas informações pessoais não são divulgadas a
terceiros, a não ser que você tenha dado explicitamente o seu
consentimento ou nós tenhamos sido obrigados a divulgar, por
exemplo, devido a uma ordem judicial ou administrativa.</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
<OL START=10>
	<LI><P STYLE="margin-top: 0.42cm; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><EM><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT"><SPAN STYLE="font-style: normal">Sujeito
	a mudanças</SPAN></SPAN></FONT></FONT></FONT></EM></FONT></FONT></P>
</OL>
<P STYLE="margin-left: 0.64cm; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="pt-PT">Reservamo-nos
o direito de alterar esta declaração sobre a proteção de dados,
em conformidade com as disposições legais.</SPAN></FONT></FONT></P>
</div>


   </ion-content>
</ion-modal-view>